@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
    background-color: #f1f1f1;
    background-image: url('../images/landing_page/background_image.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: -110px;
}

h1 {
    font-weight: bold;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.avatar-image {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    width: 20%;
    height: auto;
}

.social-media {
    margin-top: 30px;
    text-align: center;
}

.icon {
    margin: 20px;
}

i {
    opacity: 78%;
}

hr {
    width: 50%;
    margin: 0 auto;
}

.foot-links {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.link {
    text-decoration: none;
    color: grey;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}